@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
body {
  overflow-x: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.msg {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: white;
  display: none;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

button {
  padding: 1rem;
  height: 100%;
}

.block {
  border: 1px solid gray;
  width: 20%;
  font-size: 3rem;
  text-align: center;
}

.container {
  height: 85vh;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  height: calc(100% / 6);
}

.grid-container {
  height: 75%;
}

.keyboard-container {
  height: 20%;
}

.keyboard {
  height: calc(100% / 3);
}

.replay {
  height: 2rem;
  background-color: purple;
  color: white;
  border: none;
}

@media screen and (max-width: 760px) {
  button {
    width: auto;
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}
